.card {
    width: 10vw; /* Set a fixed width for the card */
    height: 15vw; /* Set a fixed height for the card */
    padding: 0;
    border-radius: 10%;
    display: grid;
    place-items: center;
    user-select: none;
  }
  
  .card img {
    width: 100%; /* Make the image take up 100% of the width of its container */
    height: 100%; /* Make the image take up 100% of the height of its container */
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
    border-radius: 10%; /* Maintain the border-radius for rounded corners */
    
  }
  